*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  font-size: $text-base;
  line-height: 1.4;
  background: $white;
  color: $black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

$gaps: ();
$gaps: map-merge(
  (
    "1": $spacer,
    "2": $spacer * 2,
    "3": $spacer * 3,
    "4": $spacer * 4,
    "5": $spacer * 5,
    "6": $spacer * 6,
    "7": $spacer * 7,
    "8": $spacer * 8,
    "9": $spacer * 9,
    "10": $spacer * 10,
    "15": $spacer * 15,
  ),
  $gaps
);
@each $index, $size in $gaps {
  .mb-#{$index} {
    margin-bottom: $size;
  }

  .mt-#{$index} {
    margin-top: $size;
  }

  .mr-#{$index} {
    margin-right: $size;
  }

  .ml-#{$index} {
    margin-left: $size;
  }

  .pb-#{$index} {
    padding-bottom: $size;
  }

  .pt-#{$index} {
    padding-top: $size;
  }

  .pr-#{$index} {
    padding-right: $size;
  }

  .pl-#{$index} {
    padding-left: $size;
  }
}

// Layout
.container {
  margin-inline: auto;
}
// End Layout

// Common
.text {
  &-danger {
    color: $danger !important;
  }

  &-center {
    text-align: center;
  }

  &-bold {
    font-weight: 600;
  }

  &-sm {
    font-size: $text-sm;
  }

  &-base {
    font-size: $text-base;
  }

  &-lg {
    font-size: $text-lg;
  }

  &-h1 {
    font-size: $h1;
  }

  &-h2 {
    font-size: $h2;
  }

  &-display-1 {
    font-size: $display-1;
    line-height: 1.1;
  }
}

a {
  &,
  &:link,
  &:visited {
    color: $primary;
    text-decoration: none;
    transition: color 0.25s;
  }

  &:hover,
  &:active {
    color: $primary;
    text-decoration: underline;
  }
}
// End Common

.list-intro {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: table;
  margin-inline: auto;

  li {
    margin-bottom: $spacer * 3;
  }
}
