@use "sass:map" as map;

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Inter, "Helvetica Neue", Arial, sans-serif;
  font-size: $text-base;
  font-weight: 300;
  line-height: 1.4;
  color: $body-color;

  background: $body-bg;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

$grays: ();
$grays: map.merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900,
  ),
  $grays
);

@each $index, $color in $grays {
  .text-gray-#{$index} {
    color: $color;
  }
}

$gaps: ();
$gaps: map.merge(
  (
    "0": 0,
    "1": $spacer,
    "2": $spacer * 2,
    "3": $spacer * 3,
    "4": $spacer * 4,
    "5": $spacer * 5,
    "6": $spacer * 6,
    "7": $spacer * 7,
    "8": $spacer * 8,
    "9": $spacer * 9,
    "10": $spacer * 10,
    "15": $spacer * 15,
  ),
  $gaps
);

@each $index, $size in $gaps {
  .m-#{$index} {
    margin: $size !important;
  }

  .mx-#{$index} {
    margin-right: $size !important;
    margin-left: $size !important;
  }

  .my-#{$index} {
    margin-top: $size !important;
    margin-bottom: $size !important;
  }

  .mb-#{$index} {
    margin-bottom: $size !important;
  }

  .mt-#{$index} {
    margin-top: $size !important;
  }

  .mr-#{$index} {
    margin-right: $size !important;
  }

  .ml-#{$index} {
    margin-left: $size !important;
  }

  .p-#{$index} {
    padding: $size !important;
  }

  .px-#{$index} {
    padding-right: $size !important;
    padding-left: $size !important;
  }

  .py-#{$index} {
    padding-top: $size !important;
    padding-bottom: $size !important;
  }

  .pb-#{$index} {
    padding-bottom: $size !important;
  }

  .pt-#{$index} {
    padding-top: $size !important;
  }

  .pr-#{$index} {
    padding-right: $size !important;
  }

  .pl-#{$index} {
    padding-left: $size !important;
  }
}

.mt-auto {
  margin-top: auto !important;
}

.mb-auto {
  margin-bottom: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

.ml-auto {
  margin-left: auto !important;
}

.sr-only {
  position: absolute !important;

  overflow: hidden !important;

  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;

  white-space: nowrap !important;

  clip: rect(1px, 1px, 1px, 1px) !important;
  clip-path: inset(50%) !important;
  border: 0 !important;
}

// Layout
.container {
  margin-right: auto;
  margin-left: auto;
}

body,
.custom-scroll {
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 0.3rem;
  }

  &::-webkit-scrollbar-track {
    background: $gray-700;
  }

  &::-webkit-scrollbar-thumb {
    background: $gray-500;
    border: 0.3rem solid $gray-600;
    border-radius: 1rem;
  }
}

// End Layout

// Common
.text {
  &-danger {
    color: $danger !important;
  }

  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }

  &-bold {
    font-weight: 600;
  }

  &-sm {
    font-size: $text-sm;
  }

  &-base {
    font-size: $text-base;
  }

  &-lg {
    font-size: $text-lg;
  }

  &-h1 {
    font-size: $h1;
  }

  &-h2 {
    font-size: $h2;
  }

  &-display-1 {
    font-size: $display-1;
    line-height: 1.1;
  }
}

a {
  font-weight: 400;

  &,
  &:link,
  &:visited {
    color: $gray-500;
    text-decoration: none;
    transition: color 0.25s;
  }

  &:hover,
  &:active {
    color: $gray-500;
    text-decoration: underline;
  }
}

.link {
  &-icon {
    display: inline-flex;
    align-items: center;
    color: inherit !important;

    svg {
      position: relative;
      top: 0.1rem;
    }
  }
}

// End Common

.list-intro {
  display: table;

  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding-left: 0;

  font-size: $text-lg;
  list-style: none;

  li {
    margin-bottom: $spacer * 3;
  }
}
