// Импорт переменных
// @use "../../app/styles/variables.scss" as *;

// Colors
$gray-100: #f2f2f2;
$gray-200: #c9e1f5;
$gray-300: #aabecf;
$gray-400: #98abbe;
$gray-500: #91a3b5; // Панель текст, гамбургер
$gray-600: #4d5762; // Количество сообщений фон
$gray-700: #242f3d; // Поиск фон
$gray-800: #1b2631; // Панель и входящие сообщения фон
$gray-900: #0e1621; // Основной фон
$blue-100: #72bcfd; // Галочки прочитано в списке контактов цвет
$blue-100: #49a1d5; // Тип контента в списке контактов цвет
$blue-100: #5288c1; // Кнопка отправить фон
$blue-200: #2b5278; // Исходящие сообщения и активный юзер в списке контактов фон
$white: #fff;
$black: #000;
$primary: $blue-200;
$secondary: $gray-600;
$success: #0cc;
$danger: #db6a60;
$error: #db6a60;
$body-color: $white;
$body-bg: $gray-900;

// Spacer
$spacer: 0.4rem;

// Grid
$container-padding: $spacer * 2;

// Box-shadow
$box-shadow-1: 0 0 0.5rem rgb(147 194 233 / 35%);

// Border-radius
$border-radius-sm: 0.8rem;
$border-radius: 1.5rem;
$border-radius-lg: 2rem;

// Fonts
$text-sm: 1.1rem;
$text-base: 1.3rem;
$text-lg: 1.5rem;
$h1: 1,7rem;
$h2: 1.6rem;
$display-1: 6.5rem;

@mixin media-bp-up($breakpoint) {
  @if $breakpoint == desktop {
    @media screen and (min-width: 1138px) {
      @content;
    }
  }

  @if $breakpoint == tablet {
    @media screen and (min-width: 560px) {
      @content;
    }
  }
}

@mixin media-bp-down($breakpoint) {
  @if $breakpoint == desktop {
    @media screen and (max-width: 1137px) {
      @content;
    }
  }

  @if $breakpoint == tablet {
    @media screen and (max-width: 559px) {
      @content;
    }
  }
}
