@use "../../app/styles/variables.scss" as *;

.user-list {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  padding-bottom: 2rem;

  &__header {
    margin-bottom: $spacer;
    padding: 1rem;
  }

  &__body {
    overflow-x: hidden;
    overflow-y: auto;
  }
}
