<div class="user-list">
  <header class="user-list__header list-header">
    <div class="list-header__search">
      {{{header_search}}}
    </div>
  </header>

  {{#if users}}
  <div class="user-list__body custom-scroll custom-scroll-controled active">
    {{#each users}}
      {{{
        UserCard
          avatar=this.avatar
          name=this.name
          message=this.message
          date=this.date
          counter=this.counter
          className=this.className
      }}}
    {{/each}}
  </div>
  {{/if}}
</div>
