<div class="user-list">
  <header class="user-list__header list-header">
    <div class="list-header__link">
      {{{header_link}}}
    </div>
    <div class="list-header__search">
      {{{header_search}}}
    </div>
  </header>

  {{#if body}}
  <div class="user-list__body custom-scroll">
    {{{body}}}
  </div>
  {{/if}}
</div>
