@use "../../app/styles/variables.scss" as *;

.form {
  min-height: 45rem;
  display: flex;
  flex-direction: column;
  padding: 4rem 3rem 3rem;
  box-shadow: $boxShadow-1;
  border-radius: $border-radius;

  &__title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: $spacer * 10;
  }

  &__fields {
    margin-bottom: auto;
  }

  &__button {
    text-align: center;
    margin-top: $spacer * 10;
  }

  &__meta {
    margin-top: $spacer * 3;
    text-align: center;
  }

  .form-control {
    margin-bottom: $spacer * 5;
  }
}
