@use "../../app/styles/variables.scss" as *;

.form {
  display: flex;
  flex-direction: column;
  padding: 4rem 3rem 3rem;
  border-radius: $border-radius;

  &_decorated {
    background-color: $gray-800;
    box-shadow: $box-shadow-1;
  }

  &__title {
    margin-bottom: $spacer * 10;
    font-size: 2rem;
    text-align: center;
  }

  &__fields {
    margin-bottom: auto;
  }

  &__button {
    margin-top: $spacer * 10;
    text-align: center;
  }

  &__meta {
    margin-top: $spacer * 3;
    text-align: center;
  }

  .form-control {
    &:not(:last-child) {
      margin-bottom: $spacer * 5;
    }
  }
}
