@use "../../app/styles/variables.scss" as *;

.messages-body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  overflow-x: hidden;
  overflow-y: auto;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: $spacer * 5;
    margin-right: $spacer * 4;
    padding-bottom: $spacer * 4;
  }

  &__placeholder {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $gray-500;
  }
}
