@use "../../app/styles/variables.scss" as *;

.messages-body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  overflow-x: hidden;
  overflow-y: auto;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: $spacer * 4;

    > div:not(:last-child) {
      margin-bottom: $spacer * 2;
    }
  }

  &__placeholder {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;

    color: $gray-500;
  }
}
