<div class="messages-body custom-scroll">
  {{#if messages}}
    <div class="messages-body__inner">
      {{#each messages}}
        {{{this}}}
      {{/each}}
    </div>
  {{else}}
    <div class="messages-body__placeholder">
      {{placeholder}}
    </div>
  {{/if}}
</div>
