<div class="messages-body custom-scroll">
  {{#if messages}}
    <div class="messages-body__inner">
      {{#each messages}}
        {{{Message
          type=type
          text=text
          date=date
        }}}
      {{/each}}
    </div>
  {{else}}
    <div class="messages-body__placeholder">
      {{placeholder}}
    </div>
  {{/if}}
</div>
