@use "../../../app/styles/variables.scss" as *;
@use "sass:color";

.btn {
  cursor: pointer;

  padding: $spacer * 3 $spacer * 10;

  border: none;
  border-radius: $border-radius-xs;
  outline: none;
  box-shadow: none;

  transition: 0.25s all;

  &-primary {
    color: $white;
    background: $primary;
    border: 0.1rem solid $primary;

    &:hover {
      $color: color.adjust($primary, $lightness: -10%);

      background: $color;
      border-color: $color;
    }
  }

  &-block {
    display: block;
    width: 100%;
  }

  &-link {
    padding: 0;
    color: $body-color;
    background: transparent;
  }

  &-menu {
    display: flex;
    align-items: center;

    padding: 0;

    font-size: $text-lg;
    color: $body-color;

    background: transparent;

    .icon-square {
      display: block;

      margin-right: 1.2rem;
      padding: 0.1rem;

      font-size: 0;

      border-radius: 0.3rem;

      svg {
        width: 2rem !important;
        height: 2rem !important;
      }

      &-coral {
        background: #f06964;
      }

      &-warning {
        background: $warning;
      }

      &-success {
        background: $success;
      }

      &-fiolet {
        background: #7595ff;
      }
    }
  }

  &-form-modal {
    padding: 1rem 2rem;

    font-size: $h2;
    font-weight: 600;
    color: $blue-100;

    background: transparent;

    &:hover {
      background: $gray-700;
    }
  }
}
