@use "../../../app/styles/variables.scss" as *;
@use "sass:color";

.btn {
  cursor: pointer;

  padding: $spacer * 3 $spacer * 10;

  border: none;
  border-radius: $border-radius-sm;
  outline: none;
  box-shadow: none;

  transition: 0.25s all;

  &-primary {
    color: $white;
    background: $primary;
    border: 0.1rem solid $primary;

    &:hover {
      $color: color.adjust($primary, $lightness: -10%);

      background: $color;
      border-color: $color;
    }
  }

  &-block {
    display: block;
    width: 100%;
  }
}
