@use "../../../../app/styles/variables.scss" as *;

.layout-full-screen {
  $root: &;

  position: relative;
  display: flex;
  min-height: 100vh;

  &__toolbar {
    position: relative;
    flex: 0 0 7.2rem;
    max-width: 7.2rem;
  }

  &__secondary {
    position: relative;
    flex: 0 1 31rem;
    max-width: 31rem;
    background: $gray-800;
  }

  &__primary {
    flex: 1 1 31rem;
    min-height: 100%;
  }
}
