<div class="layout-full-screen">
  <div class="layout-full-screen__secondary">
    <aside>
      {{{secondary}}}
    </aside>
  </div>
  <main class="layout-full-screen__primary">
    {{{primary}}}
  </main>
</div>
