@use "../../../../app/styles/variables.scss" as *;

.layout-full-screen {
  $root: &;

  display: flex;
  min-height: 100vh;

  &__secondary {
    position: relative;
    flex: 0 0 31rem;
    margin-right: 0.6rem;
    background: $gray-100;

    &::before {
      content: "";

      position: absolute;
      top: 0;
      right: -0.5rem;

      height: 100%;

      border-right: 0.3rem solid $gray-200;
    }
  }

  &__primary {
    flex: 1 1 1rem;
    min-height: 100%;
  }
}
