@use "../../../../app/styles/variables.scss" as *;

.layout-centered {
  $root: &;

  min-height: calc(100vh - #{$containerPadding * 2});
  padding: $containerPadding 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    flex: 1 1 1rem;
  }

  &_sm {
    #{$root}__container {
      max-width: 34rem;
    }
  }

  &_md {
    #{$root}__container {
      max-width: 51rem;
    }
  }
}
