<div class="message {{#if (isDate type) }}message_date{{/if}}{{#if (isOut type) }}message_out{{/if}}{{#if (isIn type) }}message_in{{/if}}
">
  {{#if (isDate type) }}
    {{date}}
  {{else}}
    {{text}}
    <div class="message__date">
      {{date}}
    </div>
  {{/if}}
</div>
