@use "../../../app/styles/variables.scss" as *;

.search {
  position: relative;

  &__input {
    width: 100%;
    padding: $spacer * 2 $spacer * 4;

    color: #fff;

    background: $gray-700;
    border: none;
    border-color: transparent;
    border-radius: 0.2rem;

    &:focus {
      border-color: $primary !important;
      outline: none;
    }
  }
}
