@use "../../../app/styles/variables.scss" as *;
@use "sass:color";

.form-control {
  $root: &;

  position: relative;

  &__label {
    pointer-events: none;

    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    display: block;

    font-size: $text-sm;
    color: $gray-500;

    transition: all 0.3s;
  }

  &__input {
    width: 100%;
    padding: 0.8rem 0;
    border: none;
    border-bottom: 0.1rem solid $primary;

    &:not([value=""]),
    &_filled,
    &:focus {
      border-color: color.adjust($primary, $lightness: -20%);
      outline: none;

      & + #{$root}__label {
        transform: translate(-8%, -180%) scale(0.9);
        color: $primary;
      }
    }
  }

  &__error {
    position: relative;

    &_inner {
      position: absolute;
      z-index: 1;
      top: 2px;
      left: 0;

      font-size: 0.7em;
      color: $danger;

      background: #fff;
    }

    &.active {
      margin-bottom: 30px;
    }
  }

  &_file {
    #{$root}__label {
      display: none;
    }
  }
}
