@use "../../../app/styles/variables.scss" as *;

.form-control {
  $root: &;

  position: relative;

  &__label {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: $text-sm;
    color: lighten($black, 50%);
    transition: all 0.3s;
    pointer-events: none;
  }

  &__input {
    width: 100%;
    padding: 0.8rem 0;
    border: none;
    border-bottom: 0.1rem solid $primary;

    // Расскомментировать, когда у инпута будет привязанное состояние
    // &:not([value=""]),
    &_filled,
    &:focus {
      border-color: darken($primary, 20%);
      outline: none;

      & + #{$root}__label {
        transform: translate(-8%, -180%) scale(0.9);
        color: $primary;
      }
    }
  }

  &_file {
    #{$root}__label {
      display: none;
    }
  }
}
