<div class="form-control {{className}}">
  {{{InputField
    onInput=onInput
    onFocus=onFocus
    onBlur=onBlur
    type=type
    value=value
    name=name
    placeholder=placeholder
    classNameInput=classNameInput
    ref="inputRef"
  }}}
  {{{InputLabel
    label=label
    name=name
    ref="labelRef"
  }}}
  {{{InputError
    ref="errorRef"
  }}}
</div>
