<div class="form-control {{className}}">
  {{{InputField
    onInput=onInput
    onFocus=onFocus
    onBlur=onBlur
    type=type
    value=value
    name=name
    id=id
    placeholder=placeholder
    classNameInput=classNameInput
    required=required
    disabled=disabled
    accept=accept
    ref="inputRef"
  }}}

  {{{InputLabel
    label=label
    for=id
    ref="labelRef"
  }}}

  {{{InputError
    ref="errorRef"
  }}}
</div>
