@use "../../../app/styles/variables.scss" as *;
@use "sass:color";

.form-control {
  $root: &;

  position: relative;

  &__label {
    pointer-events: none;

    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    display: block;

    color: $gray-500;

    transition: all 0.3s;
  }

  &__input {
    width: 100%;
    padding: 0.8rem 0;

    color: $body-color;

    background: transparent;
    border: none;
    border-bottom: 0.1rem solid $gray-700;

    &:not([value=""]),
    &_filled,
    &:focus {
      outline: none;

      & + #{$root}__label {
        transform: translate(-8%, -150%) scale(0.9);
        color: $gray-400;
      }
    }

    &:focus {
      border-color: $gray-400;
    }
  }

  &__error {
    position: relative;

    &_inner {
      position: absolute;
      z-index: 1;
      top: 0.2rem;
      right: 0;
      left: 0;

      font-size: $text-sm;
      color: $error;
      text-align: center;
    }

    &.active {
      margin-bottom: 30px;
    }
  }

  &_file {
    #{$root}__label {
      display: none;
    }
  }
}
