<div class="user-info">
  <div class="user-info__avatar text-center mb-4">{{{avatar}}}</div>
  <h1 class="user-info__title text-h1 text-center mb-15">{{title}}</h1>
  <div class="user-info__info mb-10">{{{info}}}</div>
  <div class="user-info__controls">{{{controls}}}</div>
</div>
