@use "../../../app/styles/variables.scss" as *;

.list-v1 {
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: $spacer * 2;
    padding-bottom: $spacer * 2;

    &:not(:last-child) {
      border-bottom: 1px solid $gray-300;
    }

    span {
      &:nth-child(2) {
        font-weight: 300;
        color: $gray-500;
      }
    }
  }
}
