<div class="settings-panel">
  <div class="settings-panel__userinfo">
    {{{userInfo}}}
  </div>
  <div class="settings-panel__menu">
    {{#each menu}}
      {{{this}}}
    {{/each}}
  </div>
  <div class="settings-panel__about">
    {{{about}}}
  </div>
</div>

