@use "../../app/styles/variables.scss" as *;

.user-list {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  padding: $spacer 0 $spacer $spacer;

  &__header {
    padding-bottom: $spacer * 5;
  }

  &__body {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.list-header {
  &__link {
    margin-bottom: $spacer * 3;
    padding: $spacer * 2 0;
    color: $secondary;
    text-align: right;
  }
}
