<div class="messages">
  <header class="messages__header">
    {{{header}}}
  </header>

  <section class="messages__body custom-scroll">
    {{{body}}}
  </section>

  <footer class="messages__footer">
    {{{footer}}}
  </footer>
</div>
