@use "../../app/styles/variables.scss" as *;

.messages {
  $gap: $spacer * 4;

  display: flex;
  flex-direction: column;
  height: 100%;
  padding: $gap;

  &__header {
    position: relative;
    flex: 0 0 auto;
    padding-bottom: $gap;

    &::before {
      content: "";

      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);

      display: block;

      width: 100%;

      border-bottom: 1px solid $gray-300;
    }
  }

  &__body {
    position: relative;
    flex: 1 1 100px;
    padding: $gap 0;

    &::before {
      content: "";

      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);

      display: block;

      width: 100%;

      border-bottom: 1px solid $gray-300;
    }
  }

  &__footer {
    flex: 0 0 auto;
    padding-top: $gap;
  }
}
