<form class="messages-footer">
  <div class="messages-footer__left">
    {{{file}}}
  </div>
  <div class="messages-footer__middle">
    {{{text}}}
  </div>
  <div class="messages-footer__right">
    {{{button}}}
  </div>
</form>
