<div class="messages-footer">
  <div class="messages-footer__left">
    {{{left}}}
  </div>
  <div class="messages-footer__middle">
    {{{middle}}}
  </div>
  <div class="messages-footer__right">
    {{{right}}}
  </div>
</div>
