@use "../../app/styles/variables.scss" as *;

.messages-footer {
  display: flex;
  gap: $spacer * 2;
  align-items: end;
  justify-content: space-between;

  &__left {
    flex: 0 0 auto;
  }

  &__middle {
    flex: 1 1 100px;
  }

  &__right {
    flex: 0 0 auto;
  }

  .link-icon {
    svg {
      width: 3rem !important;
      height: 3rem !important;
    }

    &-clip {
      svg {
        transform: rotate(225deg);
        color: $gray-500;
      }
    }

    &-submit {
      padding: 0;
      background: transparent;

      svg {
        transform: scale(1.2);
        color: $primary;
      }
    }
  }
}
