<div class="messages-header">
  <div class="messages-header__left">
    {{{left}}}
  </div>
  <div class="messages-header__right">
    {{{right}}}
  </div>
{{{modals}}}
  {{#each modals}}
    {{{this}}}
  {{/each}}
</div>
