@use "../../app/styles/variables.scss" as *;

.messages-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__left {
    flex: 1 1 100px;
  }

  &__right {
    flex: 0 0 auto;
  }
}
