<div class="form-control {{#if className}}{{className}}{{/if}}">
  {{{TextareaField
    onInput=onInput
    onFocus=onFocus
    onBlur=onBlur
    value=value
    name=name
    placeholder=placeholder
    classNameTextarea=classNameTextarea
    ref="inputRef"
  }}}
</div>
