@use "../../../app/styles/variables.scss" as *;
@use "sass:color";

.form-control {
  &__textarea {
    resize: none;

    display: block;

    min-width: 100%;
    max-width: 100%;
    padding: 0.8rem;

    line-height: 1.4;
    color: $body-color;

    background: transparent;
    border: none;

    &:focus {
      outline: none;
    }
  }
}
