@use "../../../app/styles/variables.scss" as *;

.search {
  position: relative;
  margin: 0 $spacer * 1.5;

  &__input {
    width: 100%;
    padding: $spacer * 3 $spacer * 2 $spacer * 3 $spacer * 8;

    background: $gray-300;
    border-color: transparent;
    border-radius: $border-radius-sm;

    &:focus {
      border-color: $primary !important;
      outline: none;
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);

    line-height: 1;
    color: $gray-500;
  }
}
